.pane-out-wrapper {
  margin-top: 20px;
  width: 81%;
  min-width: 800px;
  height: auto;
  min-height: 550px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(238, 246, 242, 0.28);
}
